@charset "UTF-8";
/*
The stylesheet is made by Mario Onekanda on ctober 6th 2012
yellow: #fedc02
* */
@import url(http://fonts.googleapis.com/css?family=Jockey+One);
@import url(http://fonts.googleapis.com/css?family=Marck+Script);
h1{}
h2{}
h3{}
h4{}
h5{}
h6{}
p{}
a{}
a:hover{}
a image{border: 0px;}
a{outline:none}
a:link, a:visited, a:activate
{
text-decoration:			none;	
}

body
{
font-family: 				Arial, Helvetica, sans-serif;
background:					url("../images/bg.png");
margin:						0;
padding:					0;		
}

/* ---------------------------TOP -----------------------*/
#top
{
width:						100%;
height:						194px;
margin:						0;
padding:					0;
display:					block;
background:					#fedc02 url("../images/top-image.png");
background-repeat:			no-repeat;
background-position:		right -16px;
overflow:					hidden;	
}

.logo
{
background-position: 		left 2px;
height: 					65px;
position: absolute;
top: 						54px;
left:						198px;
width:						470px;	
}

.blog-featured
{
width:						710px;
height:						auto;
margin:						0 auto;
background:					#fff;
color:						#000;
display:					block;
float:						left;
}


.blog-featured h2
{
font-family:				'Jockey One', Arial, Helvetica, sans-serif;
background: none repeat scroll 0 0 #FEDC02;
bottom: 					20px;
height: 					33px;
padding: 					0;
width: 						auto;
font-size: 					1.3em;
padding-left:				15px;
margin-top:					0;
}

.blog-featured p
{

font-size:					14px;
font-family: 				Verdana,Arial, Helvetica, sans-serif;
line-height:				1.1;
padding-left:				15px;
}
/* ---------------------------MAINMENU -----------------------*/

#mainmenu
{
font-family:				'Jockey One', Arial, Helvetica, sans-serif;
font-size:					22px;	
width:						100%;
height:						48px;
padding:					0;
margin:						0 auto;
color:						#fff;
background:					#000;
position:					absolute;
top:						145px;
line-height:				38px;
text-align: 				center;
}

#mainmenu li
{		
height: 					auto;
width: 						auto;
padding:					0px;
margin:						0px;
list-style-type: 			none;	
position: 					relative;
display: 					inline;
}

#mainmenu li a
{
height:						auto;
width:						auto;
padding:					10px;
margin:						0;
color:						#fff;
text-decoration:			none;
}

#mainmenu li a:hover
{
color:						#fedc02;
text-decoration:			none;					
}

#mainmenu li.current  a
{
 border-bottom: 			3px solid #FEDC02;
line-height:				0;
margin: 					0;
padding:					10px 10px 0;
}

#mainmenu li.parent
{
position:					relative;	
}

#mainmenu li.parent ul
{
background: 				#000;
left: 						0;
padding: 					0px 0px 0px 0px;
position: 					absolute;
display:					none;	
}

#mainmenu li.parent ul li
{
margin: 					 0;
padding: 					 0;
float:						left;
}

#mainmenu li.parent ul li a
{
margin:						0;
padding:					0;	
border:						none;
padding-left:				16px;
	}

#mainmenu li.parent ul li a:hover
{
border:						none;
}

/* ---------------------------WRAPPER -----------------------*/
#wrapper
{
width:						960px;
height:						auto;
margin:						0 auto;
padding:					0;
display:					block;
background:					#fff;
}


/* ---------------------------CONTENT -----------------------*/

.item-page
{
width:					960px;
height:					auto;
margin:					0 auto;
padding:				0;
display:				block;
background:				#fff;	
float:					left;
}

.item-page h2
{

font-family:			'Jockey One', Arial, Helvetica, sans-serif;
background:				#FEDC02;
bottom: 				20px;
height: 				33px;
padding: 				0;
width: 					auto;
font-size: 				1.3em;
padding-left:			15px;
}
.item-page p
{
font-size:					14px;
font-family: 				Verdana,Arial, Helvetica, sans-serif;
line-height:				1.1;
padding-left:				15px;	
}
	

/* ---------------------------IMAGES SLIDERS-----------------------*/


#image-sliders
{
display: 				block;
height: 				auto;
margin: 				0 auto;
padding: 				0;
margin-bottom: 			13px;
margin-top: 			13px;
width: 					960px;	
}

/* ---------------------------CONTAINER-----------------------*/



#container
{
width:					960px;
auto:					auto;
margin:					0 auto;	
padding:				auto;
display:				block;
background:				#fff;
}

/* ---------------------------SIDEBAR-----------------------*/

#siderbar
{
background: 			#fff;
float:					right;
height: 				auto;
margin:					0;
padding: 				0;
width: 					217px;	
}

#siderbar h2
{
font-family:			'Jockey One', Arial, Helvetica, sans-serif;
background:				#FEDC02;
bottom: 				20px;
height: 				33px;
padding: 				0;
width: 					auto;
font-size: 				1.3em;
padding-left:			15px;
margin-top:				0;	
}

/* ---------------------------CONTENT-BOTTOM-----------------------*/


#content-bottom
{
background:		 		#fff;
  background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    height: 222px;
    width: 745px;
}

.content-bottom-box
{
background:  			#fff;
float: 					left;
height: 				213px;
margin-left: 			15px;
width: 					223px;
overflow: 				hidden;
}

.content-bottom-box h2
{
 background: 			#FEDC02;
bottom: 20px;
font-family: 			'Jockey One',Arial,Helvetica,sans-serif;
font-size: 				1.3em;
height: 				33px;
margin-top: 			0;
text-align:				center;
width: 					223px;
}

/* ---------------------------FOOTER-----------------------*/

#footer
{
background: 			#000;
display: 				block;
height: 				60px;
margin: 				0 auto;
padding: 				0;
width: 					100%;
}	

#footer p
{
color:					#fff;
text-align:center;
font-size:				14px;
font-family: 			Verdana,Arial, Helvetica, sans-serif;
padding-top:			18px;
}

#footer a
{
color:					#fff;	
}

#footer a:hover
{
 color:					#fedc02;	
}
